<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-A3NE2K6\SQLEXPRESS;Initial Catalog=InsaniaBD;Integrated Security=true;Connection Timeout=3000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultConnection" value="https://localhost:7193/" />
    <add key="Api" value="api/v1/" />
    <add key="Roles" value="roles/" />
    <add key="Registration" value="registration/" />
    <add key="Authorization" value="authorization/" />
    <add key="Files" value="files/" />
    <add key="Countries" value="countries/" />
    <add key="LogFilePath" value="Logs\log.txt" />
    <add key="Token" value="" />
  </appSettings>
</configuration>
