<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="https://localhost:7193/" />
    <add key="Api" value="api/v1/" />
    <add key="Roles" value="roles/" />
    <add key="Registration" value="registration/" />
    <add key="Files" value="files/" />
    <add key="Authorization" value="authorization/" />
    <add key="Countries" value="countries/" />
    <add key="Races" value="races/" />
    <add key="Nations" value="nations/" />
    <add key="PersonalNames" value="personalNames/" />
    <add key="Logs" value="logs/" />
    <add key="InformationArticles" value="informationArticles/" />
    <add key="Check" value="check/" />
    <add key="News" value="news/" />
    <add key="LogFilePath" value="Logs\log.txt" />
    <add key="Token" value="" />
  </appSettings>
</configuration>